BASEDSERVER_PORT=6677 # port on which the server will run
BASEDSERVER_BODY_SIZE_LIMIT=50mb
BASEDSERVER_PROJECT_NAME=Inksplash # here you can change the default prefix for the logger module
BASEDSERVER_PROJECT_VERSION=Development
BASEDSERVER_SERVER_URL=localhost
BASEDSERVER_ENVIRONMENT=develop # this can be dev, stage, prod, whatever you want
# BASEDSERVER_ENDPOINT_AUTHENTICATION=my-custom-auth-header:requests_should_have_this_header_with_this_exact_value_or_else_the_server_will_not_accept_the_request_comment_this_out_to_disable_endpoint_auth

BASEDSERVER_IS_NGINX=false # is the server running on nginx?
BASEDSERVER_SERVICE_TYPE=ALL # look into Modules/Service.ts for more info

# --- Inksplash Configuration ---
INK_GATEWAY_PORT=6688

REDIS_URL="redis://127.0.0.1:11111"
DATABASE_URL="postgresql://test:test@sewer.local:51514/inksplash-development?schema=public"